header{background-image: url(../img/header.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 450px;
        padding: 100px;
        position: relative;
    box-shadow: 0px 0px 15px 10px silver;}

header h1{font-size: 10rem;
   font-variant: small-caps;
   text-shadow: 10px 10px 15px black;}

nav{color: black;
    font-variant: small-caps;
}

.fix{position: fixed;
     z-index: 100;
    width: 100%;}

main{padding-top: 20px;
     background-image: url(../img/bg1.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
}

main p{text-align: justify;}

main h2,h3,h4{font-variant: small-caps;
              font-family:Verdan;
            }
main h3{padding-left: 10px;}

.keret{border: 2px solid silver;
       border-radius: 20px;
       padding: 10px;
       box-shadow:10px 10px 15px black;
    margin-bottom: 20px;}

.park{margin: 0px 0px 0px 100px
      }

.card{margin: 15px 15px 15px 15px;
      padding: 10px;
    width: 18rem;}
.video{ width: 30rem;}



#contact li{list-style-type: none;}

.ceglog{width:300px;}
.ceglog p{text-shadow: 10px 10px 10px rgb(186, 195, 26);
          font-size: 1.5rem;
        color:black;
        }
.ceglog a{text-decoration: none;}

.ceglog a.youtube{color: red;}
.ceglog a.insta{color: rgba(255, 0, 174, 0.782);}

.map{width: 30rem;
     height: 25rem;}

.navbar-brand{display: block;
              display: none;
              text-shadow: 5px 5px 5px rgb(216, 204, 32);
              color: rgb(99, 99, 95);
              font-size: 2rem;
              font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              font-weight: bold;}



header.mobil{ display: none;}

img.logo{width: 2rem;
         margin-left: 30px;}